{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container-form">
        <div class="wrap-form">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/logo.png' %}" alt="logo"/>
                </a>
            </div>
            <form class="main-form">
                <span class="main-form-title">
                    Login
                </span>
                <div class="errors">
                </div>
                <div class="wrap-input">
                    <input id="email" class="input" type="email" name="username" placeholder="Email" required>
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input">
                    <input id="password" class="input" type="password" name="pass" placeholder="Password" required>
                    <span class="focus-input"></span>
                </div>
                <div class="flex-center">
                    <div>
                        <a href="{% url 'password_reset' %}">
                            Forgot password?
                        </a>
                    </div>
                </div>
                <div class="form-btn">
                    <button id="submitBtn" class="main-form-btn">
                        Login
                    </button>
                </div>
                <div class="flex-center">
                    <div>
                        <a href="{% url 'signup' %}">
                            Don't have an account yet?
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
