{% extends 'base.html' %}
{% load static %}

{% block title %}
    Reset Password Confirm
{% endblock %}

{% block content %}
    <div class="container-form">
        <div class="wrap-form">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/logo.png' %}" alt="logo"/>
                </a>
            </div>
            <form class="main-form">
                <span class="main-form-title">
                    Reset Password
                </span>
                <div class="errors"></div>
                <div class="success"></div>
                <div class="wait">
                    Please, wait...
                </div>
                <div class="redirect">
                    You will be redirected to login page in 3 seconds.
                </div>
                <div class="wrap-input">
                    <input id="password1" class="input" type="password" name="password1" placeholder="New Password"
                           required>
                    <span class="focus-input"></span>
                </div>
                <div id="password1-errors"></div>

                <div class="wrap-input">
                    <input id="password2" class="input" type="password" name="password2" placeholder="Confirm Password"
                           required>
                    <span class="focus-input"></span>
                </div>
                <div id="password2-errors"></div>

                <div class="form-btn">
                    <button id="submitBtn" class="main-form-btn">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <input id="redirect-url" hidden value="{% url 'login' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/reset-password-confirm.js' %}"></script>
{% endblock %}
