{% extends 'base.html' %}
{% load static %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <div class="container-form">
        <div class="wrap-form">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/logo.png' %}" alt="logo"/>
                </a>
            </div>
            <form class="main-form">
                <span class="main-form-title">
                    Reset Password
                </span>
                <div class="errors"></div>
                <div class="success"></div>
                <div class="wrap-input">
                    <input id="email" class="input" type="email" name="username" placeholder="Email" required>
                    <span class="focus-input"></span>
                </div>
                <div class="form-btn">
                    <button id="submitBtn" class="main-form-btn">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/reset-password.js' %}"></script>
{% endblock %}
